@page
@model Book_Shop.Pages.ContactsModel

    <div class="container">
        <h2>Контакти</h2>
        <div class="row mt-4 col-10 ml-auto mr-auto">
            <div class="col-7 row">
                <div class="row">
                    <div class="col-5 text-right">
                        <strong>Графік роботи:</strong>
                    </div>
                    <div class="col-7">
                        Пн-Пт з 9:00 до 18:00
                    </div>
                    <div class="col-5 text-right">
                        <strong>Номера телефону:</strong>
                    </div>
                    <div class="col-7">
                        0639635129 </br>
                        0639635129 </br>
                        0639635129 </br>
                    </div>
                    <div class="col-5 text-right">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-7">
                        marianlabenskyi@gmail.com
                    </div>
                    <div class="col-5 text-right">
                        <strong>Адреса:</strong>
                    </div>
                    <div class="col-7">
                        вул. Пушкіна Дом Колотушкина
                    </div>
                </div>

            </div>
            <div class="col-5">
                <img class="img-thumbnail" src="~/img/OtherImg/BooksShop.jpg" style="">
            </div>
        </div>


        <div class="alert alert-danger col-7 ml-auto mr-auto mt-4">
            <p class="h3 text-center">Важлива інформація!!!</p>
            <p class="">Даний сайт не являється комерційним проектом і створений для портфоліо. На ньому нічого не продається і книг немає.</p>
        </div>

    </div>
