@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<h2 class="display-4">Найпопулярніші книги</h2>



<div class="row mt-5 mb-2">
    @{
        if (Model.AllBooks != null)
        {
            foreach (Book item in Model.AllBooks)
            {
                @Html.Partial("BookItem", item);
            }
        }
    }
</div>
