@page "{genre?}/{bookName?}"
@model Book_Shop.Pages.Books.IndexModel


@{
    if (Model.bookName == null)
    {
        <h2>@Model.CurrentCatalog</h2>

        if (Model.bookName == null && Model.genre != null)
        {
            <p style="font-size: 1.3em">
                @Model.PageGenre.Desc
            </p>
        }

        <form action="" method="post">
            <div class="">
                <div class="form-group row" style="width: 300px; margin-right: 0px; margin-left: auto">
                    <label for="select1" class="col-form-label">Сортувати</label>
                    <div class="col">
                        <select class="form-control" id="select1">
                            <option>За рейтингом</option>
                            <option>За алфавітом</option>
                            <option>За ціною: від дорогих</option>
                            <option>За ціною: від дешевих</option>
                            <option>За роком видання</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mt-5 mb-2">
            @{
                if (Model.AllBooks != null)
                {
                    foreach (Book item in Model.AllBooks)
                    {
                        @Html.Partial("BookItem", item);
                    }
                }
            }
        </div>
    }
    else
    {
        @Html.Partial("BookItemPage", Model.PageBook);
    }
}

