@using Book_Shop.Data.models
@model Genre

<div class="col-lg-4 mb-3">
    <a class="item_link" href="/Books/@Model.TagName">
        <div class="genreItem">
            <img src="@Model.ImgPath" alt="@Model.GenreName" style="height: 300px" />
            <p>
                <h4 class="text-info">@Model.GenreName</h4>
            </p>
        </div>
    </a>
</div>